In [2]:
#Let's Import required Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

#Let's Import selenium webdriver 
from selenium import webdriver

#Let's Import required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException

#Let's Import requests
import requests

#Let's Importing regex
import re

#Let's Import support drivers
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

#Let's Import Time Out Exception
from selenium.common.exceptions import TimeoutException
from datetime import datetime

#Let's Suppress warnings for a clean notebook
import warnings
warnings.filterwarnings('ignore')

# Question - 1
Scrape the details of most viewed videos on YouTube from Wikipedia:

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload

E) Views

In [4]:
# Let's load the drivers and URL

driver = webdriver.Chrome("chromedriver.exe")

In [5]:
# Let's open the URL
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/')
driver.implicitly_wait(3)

In [6]:
# Let's click and open the search list
search_button=driver.find_element_by_xpath("//a[@class='external text']")
search_button.click()

# Let's click the first search result 
list_search=driver.find_element_by_xpath("//ul[@class='mw-search-results']/li[1]/div/a")
list_search.click()

In [7]:
# Let's create an empty lists to store the scraping data
Rank=[]
Name=[]
Artist=[]
Views=[]
Upload_Date=[]

In [8]:
#Let's create a function to get the details of most viewed video on youtube
rank = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in rank:
    Rank.append(i.text)

name = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in name:
    Name.append(i.text)

artist = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in artist:
    Artist.append(i.text)

view = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in view:
    Views.append(i.text)

date = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for i in date:
    Upload_Date.append(i.text)

In [9]:
# Let's create the dataframe from the scraped data
You_tube_videos=pd.DataFrame({})
You_tube_videos['Rank']=Rank[0:30]
You_tube_videos['Video Name']=Name[0:30]
You_tube_videos['Artist']=Artist[0:30]
You_tube_videos['Upload Date']=Upload_Date[0:30]
You_tube_videos['Views (Billions)']=Views[0:30]
You_tube_videos

,Rank,Video Name,Artist,Upload Date,Views (Billions)
0,1.,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.46
1,2.,"""Despacito""[25]",Luis Fonsi,"January 12, 2017",7.57
2,3.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016",5.78
3,4.,"""Shape of You""[27]",Ed Sheeran,"January 30, 2017",5.48
4,5.,"""See You Again""[28]",Wiz Khalifa,"April 6, 2015",5.29
5,6.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.55
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.52
7,8.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"January 31, 2012",4.46
8,9.,"""Uptown Funk""[34]",Mark Ronson,"November 19, 2014",4.32
9,10.,"""Phonics Song with Two Words""[35]",ChuChu TV,"March 6, 2014",4.22
10,11.,"""Gangnam Style""[36]",Psy,"July 15, 2012",4.21
11,12.,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018",3.63
12,13.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.57
13,14.,"""Sorry""[40]",Justin Bieber,"October 22, 2015",3.47
14,15.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.45
15,16.,"""Counting Stars""[42]",OneRepublic,"May 31, 2013",3.41
16,17.,"""Thinking Out Loud""[43]",Ed Sheeran,"October 7, 2014",3.34
17,18.,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.29
18,19.,"""Dark Horse""[45]",Katy Perry,"February 20, 2014",3.16
19,20.,"""Faded""[46]",Alan Walker,"December 3, 2015",3.16
20,21.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.14
21,22.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.11
22,23.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.11
23,24.,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014",3.10
24,25.,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.09
25,26.,"""Axel F""[52]",Crazy Frog,"June 16, 2009",3.04
26,27.,"""Mi Gente""[53]",J Balvin,"June 29, 2017",2.99
27,28.,"""Perfect""[54]",Ed Sheeran,"November 9, 2017",2.98
28,29.,"""Waka Waka (This Time for Africa)""[55]",Shakira,"June 4, 2010",2.96
29,30.,"""Hello""[56]",Adele,"October 22, 2015",2.89

# Question - 2
Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [10]:
# Let's load the drivers and URL

driver = webdriver.Chrome("chromedriver.exe")

In [11]:
# Let's open the URL
driver.get('https://www.bcci.tv/')
driver.implicitly_wait(3)

In [12]:
# Let's navigate to the international fixtures page
international_fixture=driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']/li[1]/div[2]/div/ul/li[1]/a")
driver.get(international_fixture.get_attribute('href'))

In [13]:
# Let's create an empty lists to store the scraping data
Match_title=[] 
Series=[]
Place=[] 
Date=[] 
Time=[]

In [14]:
# Let's create a function to get the Match details
title = driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
for i in title:
    Match_title.append(i.text)

series = driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]/span[2]')
for i in series:
    Series.append(i.text)

place = driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')
for i in place:
    Place.append(i.text)

date = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/span')

month = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/div/span[1]')
for i in range(len(date)):
    Date.append(date[i].text+month[i].text)

time = driver.find_elements_by_xpath('//div[@class="fixture__full-date"]/div/span[2]')
for i in time:
    Time.append(i.text)

In [15]:
# Let's create the dataframe from the scraped data
IF_ICC=pd.DataFrame({})
IF_ICC['Match Title']=Match_title
IF_ICC['Series']=Series
IF_ICC['Place']=Place 
IF_ICC['Date']=Date
IF_ICC['Time']=Time
IF_ICC

,Match Title,Series,Place,Date,Time
0,Match 16,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",24OCTOBER,19:30 IST
1,Match 28,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",31OCTOBER,19:30 IST
2,Match 33,2021 ICC MEN'S T20 WORLD CUP,"Zayed Cricket Stadium, Abu Dhabi",03NOVEMBER,19:30 IST
3,Match 37,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",05NOVEMBER,19:30 IST
4,Match 42,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",08NOVEMBER,19:30 IST
5,1st T20I,INDIA V NEW ZEALAND 2021,"Sawai Mansingh Stadium, Jaipur",17NOVEMBER,19:00 IST
6,2nd T20I,INDIA V NEW ZEALAND 2021,"JSCA International Stadium Complex, Ranchi",19NOVEMBER,19:00 IST
7,3rd T20I,INDIA V NEW ZEALAND 2021,"Eden Gardens, Kolkata",21NOVEMBER,19:00 IST
8,1st Test,INDIA V NEW ZEALAND 2021,"Green Park, Kanpur",25NOVEMBER,09:30 IST
9,2nd Test,INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai",03DECEMBER,09:30 IST
10,1st Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",17DECEMBER,13:30 IST
11,2nd Test,SOUTH AFRICA V INDIA 2021/2022,"Supersport Park, Centurion",26DECEMBER,13:30 IST
12,3rd Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",03JANUARY,13:30 IST
13,1st ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",11JANUARY,14:00 IST
14,2nd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",14JANUARY,14:00 IST
15,3rd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",16JANUARY,14:00 IST
16,1st T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",19JANUARY,19:30 IST
17,2nd T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",21JANUARY,19:30 IST
18,3rd T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",23JANUARY,19:30 IST
19,4th T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",26JANUARY,19:30 IST

# Question - 3
Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [16]:
# Let's load the drivers and URL

driver = webdriver.Chrome("chromedriver.exe")

In [17]:
# Let's open the URL
driver.get('https://www.guru99.com/')
driver.implicitly_wait(3)

In [18]:
# Let's click on the selenium exception page 
driver.find_element_by_xpath("//div[@class='srch']/span[8]/a").click()

# Let's click on the selenium exception tutorial link
driver.find_element_by_xpath("//table[@class='table']/tbody/tr[34]/td/a").click()

In [19]:
# Let's create an empty lists to store the scraping data
Name=[]
Description=[]

In [20]:
# Let's create a function
name = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for i in name:
    Name.append(i.text)

description = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for i in description:
    Description.append(i.text)

In [21]:
# Let's create the dataframe from the scraped data
guru99=pd.DataFrame({})
guru99['Exception Name']=Name[1:]
guru99['Description']=Description[1:]
guru99

,Exception Name,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# Question - 4
Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [22]:
# Let's load the drivers and URL

driver = webdriver.Chrome("chromedriver.exe")

In [23]:
# Let's open the URL
driver.get('http://statisticstimes.com/')
driver.implicitly_wait(3)

In [24]:
# Let's click on the economy and then on India from there
Economy_India=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]")
driver.get(Economy_India.get_attribute('href'))

In [25]:
# Let's click on the GDP of Indian states 
GDP_Indian_States=driver.find_element_by_xpath("//div[@style='float:left;background-color:seashell;width:400px;height:800px;']/ul/li[1]/a")
driver.get(GDP_Indian_States.get_attribute('href'))

In [26]:
# Let's create an empty lists to store the scraping data
Rank=[] 
State=[] 
GSDP_Year_2019_to_Year_2020=[] 
GSDP_Year_2018_to_Year_2019=[] 
Share_Year_2018_to_2019=[] 
GDP_Dollar_Billion=[]

In [27]:
# Let's create a function
rank = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[1]')
for i in rank:
    Rank.append(i.text)

state = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[2]')
for i in state:
    State.append(i.text)

gdsp_19_20 = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[3]')
for i in gdsp_19_20:
    GSDP_Year_2019_to_Year_2020.append(i.text)

gdsp_18_19 = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[4]')
for i in gdsp_18_19:
    GSDP_Year_2018_to_Year_2019.append(i.text)

share = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[5]')
for i in share:
    Share_Year_2018_to_2019.append(i.text)

gdp_dollar = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[6]')
for i in gdp_dollar:
    GDP_Dollar_Billion.append(i.text)

In [26]:
# Let's create the dataframe from the scraped data
GSDP=pd.DataFrame({})
GSDP['Rank']=Rank 
GSDP['State']=State
GSDP['GSDP (Cr INR at Current prices) Year 2018-2019']=GSDP_Year_2018_to_Year_2019 
GSDP['GSDP (Cr INR at Current prices) Year 2019-2020']=GSDP_Year_2019_to_Year_2020 
GSDP['Share Year 2018-2019']=Share_Year_2018_to_2019 
GSDP['GDP ($ Billion)']=GDP_Dollar_Billion
GSDP

,Rank,State,GSDP (Cr INR at Current prices) Year 2018-2019,GSDP (Cr INR at Current prices) Year 2019-2020,Share Year 2018-2019,GDP ($ Billion)
0,1,Maharashtra,"2,632,792",-,13.88%,398.145
1,2,Tamil Nadu,"1,630,208","1,845,853",8.59%,246.529
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.35%,239.656
3,4,Gujarat,"1,502,899",-,7.92%,227.276
4,5,Karnataka,"1,493,127","1,631,977",7.87%,225.798
5,6,West Bengal,"1,089,898","1,253,832",5.75%,164.820
6,7,Rajasthan,"942,586","1,020,989",4.97%,142.543
7,8,Andhra Pradesh,"862,957","972,782",4.55%,130.501
8,9,Telangana,"861,031","969,604",4.54%,130.210
9,10,Madhya Pradesh,"809,592","906,672",4.27%,122.431
10,11,Kerala,"781,653",-,4.12%,118.206
11,12,Delhi,"774,870","856,112",4.08%,117.180
12,13,Haryana,"734,163","831,610",3.87%,111.024
13,14,Bihar,"530,363","611,804",2.80%,80.204
14,15,Punjab,"526,376","574,760",2.77%,79.601
15,16,Odisha,"487,805","521,275",2.57%,73.768
16,17,Assam,"315,881",-,1.67%,47.769
17,18,Chhattisgarh,"304,063","329,180",1.60%,45.982
18,19,Jharkhand,"297,204","328,598",1.57%,44.945
19,20,Uttarakhand,"245,895",-,1.30%,37.186
20,21,Jammu & Kashmir,"155,956",-,0.82%,23.584
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.265
22,23,Goa,"73,170","80,449",0.39%,11.065
23,24,Tripura,"49,845","55,984",0.26%,7.538
24,25,Chandigarh,"42,114",-,0.22%,6.369
25,26,Puducherry,"34,433","38,253",0.18%,5.207
26,27,Meghalaya,"33,481","36,572",0.18%,5.063
27,28,Sikkim,"28,723","32,496",0.15%,4.344
28,29,Manipur,"27,870","31,790",0.15%,4.215
29,30,Nagaland,"27,283",-,0.14%,4.126
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.721
31,32,Mizoram,"22,287","26,503",0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

# Question - 5
Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [28]:
# Let's load the drivers and URL

driver = webdriver.Chrome("chromedriver.exe")

In [29]:
# Let's define the url
url=('https://github.com/')
driver.get(url)

In [30]:
# Let's navigate to the trending option and click on it
trending=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [31]:
# Let's create an empty lists to store scraping data
Repository_Title=[]
Repository_Description=[] 
Contributors_Count=[] 
Language_Used=[]
urls=[]

In [32]:
# Let's create a function
rep_title=driver.find_elements_by_xpath('//article[@class="Box-row"]/h1/a')
descriptions=driver.find_elements_by_xpath('//article[@class="Box-row"]/p')
for i in [rep_title,descriptions]:
    for j in i:
        if i ==rep_title:
            Repository_Title.append(j.text)
            urls.append(j.get_attribute('href'))
        if i==descriptions:
            Repository_Description.append(j.text)
for url in urls:
    driver.get(url)
    driver.implicitly_wait(3)
    div_list=driver.find_elements_by_xpath('//div[@class="BorderGrid BorderGrid--spacious"]/div')
    try:
        Contributors_Count.append(((div_list[-2].text).split())[1])
    except:
        Contributors_Count.append('-')
    try:
        Language_Used.append(((div_list[-1].text).split())[1::2])
    except:
        Language_Used.append('-')

In [33]:
# Let's check the length of the scrape data        
print(len(Repository_Title),len(Repository_Description),len(Contributors_Count),len(Language_Used))

25 25 25 25

In [34]:
# Let's create the dataframe from the scraped data
Repositoriy=pd.DataFrame({})
Repositoriy['Repository Title']=Repository_Title[0:24]
Repositoriy['Repository Description']=Repository_Description[0:24]
Repositoriy['Contributors Count']=Contributors_Count[0:24]
Repositoriy['Language Used']=Language_Used[0:24]
Repositoriy

,Repository Title,Repository Description,Contributors Count,Language Used
0,peng-zhihui / Peak,Tiny Mobile Terminal Device Kit.,No,"[C, C++, Python, Processing, Ruby, CMake]"
1,Chakazul / Lenia,Lenia - Mathematical Life Forms,6,"[Python, JavaScript, MATLAB]"
2,QianMo / Real-Time-Rendering-4th-Bibliography-...,Real-Time Rendering 4th (RTR4) 参考文献合集典藏 | Coll...,2,[HTML]
3,bitcoin / bitcoin,Bitcoin Core integration/staging tree,825,"[C++, Python, C, M4, Shell, Makefile, Other]"
4,fatedier / frp,A fast reverse proxy to help you expose a loca...,72,"[Go, Vue, JavaScript, Shell, HTML, Makefile, L..."
5,PaddlePaddle / PaddleOCR,Awesome multilingual OCR toolkits based on Pad...,50,"[Python, C++, Java, CMake, Makefile, Dockerfile]"
6,peng-zhihui / Dummy-Robot,我的超迷你机械臂机器人项目。,No,"[No, published]"
7,localstack / localstack,💻 A fully functional local AWS cloud stack. De...,382,"[Python, Java, Makefile, HCL, Dockerfile, Shel..."
8,AveYo / MediaCreationTool.bat,Universal MCT wrapper script for all Windows 1...,-,[Batchfile]
9,Snailclimb / JavaGuide,「Java学习+面试指南」一份涵盖大部分 Java 程序员所需要掌握的核心知识。准备 Jav...,260,[Java]
10,xinntao / Real-ESRGAN,Real-ESRGAN aims at developing Practical Algor...,4,[Python]
11,milvus-io / milvus,An open-source vector database for embedding s...,164,"[Go, Python, C++, CMake, Shell, C, Other]"
12,ossrs / srs,"SRS is a simple, high efficiency and realtime ...",64,"[C++, JavaScript, ActionScript, HTML, Shell, P..."
13,practical-tutorials / project-based-learning,Curated list of project-based tutorials,-,"[91, 80]"
14,CyC2018 / CS-Notes,📚 技术面试必备基础知识、Leetcode、计算机操作系统、计算机网络、系统设计,231,[Java]
15,golang / go,The Go programming language,"1,736","[Go, HTML, Assembly, C, Shell, Perl]"
16,ascoders / weekly,前端精读周刊。帮你理解最前沿、实用的技术。,51,[JavaScript]
17,alibaba / Sentinel,A powerful flow control component enabling rel...,152,"[Java, JavaScript, HTML, CSS, Shell, Dockerfile]"
18,taichi-dev / taichi,Parallel programming for everyone.,100,"[C++, Python, C, CMake, Cuda, GLSL, Other]"
19,tihanyin / PSSW100AVB,A list of useful Powershell scripts with 100% ...,-,[PowerShell]
20,apache / apisix,The Cloud-Native API Gateway,229,"[Lua, Shell, Python, Go, Perl, Makefile, Java]"
21,ArduPilot / ardupilot,"ArduPlane, ArduCopter, ArduRover, ArduSub source",585,"[C++, Objective-C, Python, C, Lua, HTML, Other]"
22,raimohanska / ourboard,An online whiteboard,8,"[TypeScript, SCSS, JavaScript, HTML]"
23,microsoft / playwright,"Node.js library to automate Chromium, Firefox ...",168,"[JavaScript, TypeScript, C++, Shell, Objective..."

# Question - 6
Scrape the details of top 100 songs on billiboard.com.

Url = https://www.billiboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [47]:
# Let's load the drivers and URL

driver = webdriver.Chrome("chromedriver.exe")

In [48]:
# Let's open the URL
driver.get('https://www.billboard.com/')
driver.implicitly_wait(3)

In [49]:
# Let's navigate and click on the Top 100 Songs
driver.find_element_by_xpath("//nav[@class='header__subnav bg--light']/ul/li[3]/a").click()

In [50]:
# Let's create an empty lists to store the scraping data
Song_Name=[]
Artist_Name=[] 
Last_Week_Rank=[] 
Peak_Rank=[]
Weeks_on_Board=[]

In [51]:
# Let's create a function
song = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for i in song:
    Song_Name.append(i.text)

artist = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for i in artist:
    Artist_Name.append(i.text)

lastweek = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for i in lastweek:
    Last_Week_Rank.append(i.text)

peak = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for i in peak:
    Peak_Rank.append(i.text)

weeks = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for i in weeks:
    Weeks_on_Board.append(i.text)

In [52]:
# Let's create the dataframe from the scraped data
TOP_100_SONGS=pd.DataFrame({})
TOP_100_SONGS['Song_name']=Song_Name
TOP_100_SONGS['Artist_name']=Artist_Name
TOP_100_SONGS['Last_week_rank']=Last_Week_Rank
TOP_100_SONGS['Peak_rank']=Peak_Rank
TOP_100_SONGS['Weeks_on_board']= Weeks_on_Board
TOP_100_SONGS

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Stay,The Kid LAROI & Justin Bieber,2,1,13
1,Industry Baby,Lil Nas X & Jack Harlow,3,2,11
2,Fancy Like,Walker Hayes,5,3,16
3,Way 2 Sexy,Drake Featuring Future & Young Thug,4,1,5
4,Bad Habits,Ed Sheeran,6,2,15
...,...,...,...,...,...
95,Esta Danada,Ivan Cornejo,-,96,1
96,Whiskey And Rain,Michael Ray,-,97,1
97,TSU,Drake,84,9,5
98,Love All,Drake Featuring JAY-Z,87,10,5
99,No Where,YoungBoy Never Broke Again,40,40,2

# Question - 7
Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [53]:
# Let's load the drivers and URL

driver = webdriver.Chrome("chromedriver.exe")

In [54]:
# Let's open the URL
driver.get('https://www.naukri.com/')
driver.implicitly_wait(3)

In [55]:
# Let's navigate and clciking on the recruiter option on the search pane
recruiter=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
driver.get(recruiter.get_attribute('href'))

In [56]:
# Let's navigate to the search bar and Type Data Science in the search bar and click search
search_field_designation=driver.find_element_by_xpath("//input[@class='sugInp']")
search_field_designation.send_keys("Data Science")
driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [57]:
# Let's create an empty lists to store the scraping data
Name=[]
Designation=[] 
Company=[] 
Skills_they_hire_for=[] 
Location=[]

In [58]:
# Let's create a function
name = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
for i in name:
    Name.append(i.text)

designation = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for i in designation:
    Designation.append(i.text)

company = driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for i in company:
    Company.append(i.text)

skill = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for i in skill:
    Skills_they_hire_for.append(i.text)

loc = driver.find_elements_by_xpath('//p[@class="highlightable"]/span[2]')
for i in loc:
    try:
        Location.append(i.text)
    except NoSuchElementException:        
        Location.append("---")

In [59]:
# Let's create the dataframe from the scraped data
Data_Science=pd.DataFrame({})
Data_Science['Name']=Name[0:48]
Data_Science['Designation']=Designation[0:48]
Data_Science['Company']=Company[0:48]
Data_Science['Skills they Hire for']= Skills_they_hire_for[0:48]
Data_Science['Location']=Location[0:48]
Data_Science

,Name,Designation,Company,Skills they Hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,Narasimha,Company Recruiter,Step Next Private Limited,"Data Modeling, Data Wrangling, seaborn, eda, p...",Hyderabad / Secunderabad
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
16,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
17,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Ghaziabad
33,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Bengaluru / Bangalore
34,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Noida
35,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai

# Question - 8
Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [60]:
# Let's load the drivers and URL

driver = webdriver.Chrome("chromedriver.exe")

In [61]:
# Let's open the URL
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
driver.implicitly_wait(3)

In [62]:
# Let's create an empty lists to store the scraping data
Book_Name=[] 
Author_Name=[] 
Volumes_Sold=[]
Publisher=[] 
Genre=[]

In [63]:
# Let's create a function
book = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book:
    Book_Name.append(i.text)

author = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author:
    Author_Name.append(i.text)

vol = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in vol:
    Volumes_Sold.append(i.text)

pub = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in pub:
    Publisher.append(i.text)

gen = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in gen:
    Genre.append(i.text)

In [64]:
# Let's create the dataframe from the scraped data
Novel=pd.DataFrame({})
Novel['Book Name']=Book_Name
Novel['Author Name']= Author_Name
Novel['Volumes Sold']=Volumes_Sold
Novel['Publisher']=Publisher
Novel['Genre']=Genre
Novel

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question - 9
Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [65]:
# Let's load the drivers and URL

driver = webdriver.Chrome("chromedriver.exe")

In [66]:
# Let's open the URL
driver.get('https://www.imdb.com/list/ls095964455/')
driver.implicitly_wait(3)

In [67]:
# Let's create an empty lists to store the scraping data
Name=[]
Year_Span=[] 
Genre=[] 
Run_Time=[] 
Ratings=[] 
Votes=[]

In [68]:
# Let's create a function
name = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for i in name:
    Name.append(i.text)

year = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for i in year:
    Year_Span.append(i.text)

gen = driver.find_elements_by_xpath('//span[@class="genre"]')
for i in gen:
    Genre.append(i.text)

runtime = driver.find_elements_by_xpath('//span[@class="runtime"]')
for i in runtime:
    Run_Time.append(i.text)

ratings = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')
for i in ratings:
    Ratings.append(i.text)

vote = driver.find_elements_by_xpath('//span[@name="nv"]')
for i in vote:
    Votes.append(i.text)

In [69]:
# Let's create the dataframe from the scraped data
IMDB=pd.DataFrame({})
IMDB['Name']=Name
IMDB['Year Span']= Year_Span
IMDB['Genre']=Genre
IMDB['Run Time']= Run_Time
IMDB['Ratings']=Ratings
IMDB['Votes']=Votes
IMDB

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,883,197"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"916,524"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"904,822"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"270,997"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"231,382"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,914"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,789"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"177,450"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,909"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"204,060"

# Question - 10
Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [70]:
# Let's load the drivers and URL

driver = webdriver.Chrome("chromedriver.exe")

In [71]:
# Let's open the URL
driver.get('https://archive.ics.uci.edu/')
driver.implicitly_wait(3)

In [72]:
# Let's navigate to view all dataset
dataset=driver.find_element_by_xpath("//span[@class='normal']/b/a")
driver.get(dataset.get_attribute('href'))

In [73]:
# Let's create an empty lists to store the scraping data
Dataset_Name=[] 
Data_Type=[]
Task=[] 
Attribute_Type=[] 
No_of_Instances=[] 
No_of_Attribute=[] 
Year=[]

In [74]:
# Let's create a function
name = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td/table/tbody/tr/td[2]/p/b/a')
for i in name:
    Dataset_Name.append(i.text)

names = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td/table/tbody/tr/td[2]/p/b/a')
for i in names:
    Dataset_Name.append(i.text)

datatype = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[2]/p')
for i in datatype:
    Data_Type.append(i.text)

task = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[3]/p')
for i in task:
    Task.append(i.text)

att = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[4]/p')
for i in att:
    Attribute_Type.append(i.text)

ins = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[5]/p')
for i in ins:
    No_of_Instances.append(i.text)

no_of_att = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[6]/p')
for i in no_of_att:
    No_of_Attribute.append(i.text)

year = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[7]/p')
for i in year:
    Year.append(i.text)

datatype = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[2]/p')
for i in datatype:
    Data_Type.append(i.text)

tsk = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[3]/p')
for i in tsk:
    Task.append(i.text)

attr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[4]/p')
for i in attr:
    Attribute_Type.append(i.text)

noi = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[5]/p')
for i in noi:
    No_of_Instances.append(i.text)

noa = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[6]/p')
for i in noa:
    No_of_Attribute.append(i.text)

yr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[7]/p')
for i in yr:
    Year.append(i.text)

In [75]:
#Let's create the dataframe from the scraped data
UCI_ML=pd.DataFrame({})
UCI_ML['Dataset Name']=Dataset_Name 
UCI_ML['Data Type']=Data_Type
UCI_ML['Task']=Task
UCI_ML['Attribute Type']=Attribute_Type
UCI_ML['No of Instances']=No_of_Instances
UCI_ML['No of Attribute']= No_of_Attribute
UCI_ML['Year']=Year
UCI_ML

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
3,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
4,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
...,...,...,...,...,...,...,...
290,LastFM Asia Social Network,Multivariate,Classification,,7624,7842,2020
291,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
292,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
293,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
294,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

# BY THIS MINE SELENIUM WEBSCRAPPING ASSIGNMENT-4 WAS COMPLETED.

# THANK YOU